$text_primary: #212121;
$text_secondary: #999999;

$white: #fff;
$accent_color: #ff5252;

$box_size: 2.5rem;
$container_size: 50rem;

$thin_border: 1px solid $text_secondary;

$mini_spacing: 0.5rem;
$minor_spacing: 2rem;
$major_spacing: 6rem;

$breakpoint_medium: 35rem;
$breakpoint_large: $container_size;

$transition: 0.2s ease;
