@import "mixins.scss";

html {
	color: $text_primary;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Yrsa", serif;
	font-weight: 300;
}

:global #app {
	display: flex;
	justify-content: center;
}

:global .container {
	padding: 8rem 0;
}

:global .box {
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	position: absolute;
	text-align: center;
}

:global .box-label {
	font-family: "Yrsa", serif;
	font-size: 2em;
	font-weight: 300;
	line-height: $box_size;
}

:global .active-box {
	@extend .box;
}
