$rowLen: 4;

html {
	font-family: "Raleway", sans-serif;
}

:global #app {
	display: flex;
	justify-content: center;
}

:global .container {
	padding: 8rem 0;
}

:global .box {
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	// font-size: 3rem;
	// padding: 3rem 1.5rem;
	position: absolute;
	transition: border-radius 0.5s ease;
}

:global .active-box {
	@extend .box;
	border-radius: 50%;
}
