.wrapper {
  background: rgba(0,0,0,0.5);
  padding: 2rem;
  position: absolute;
  top: 0;
}

.editor {
  color: black;
  padding: 2rem;
}

.title {
  color: black;
}

.ingredients {
  color: black;
}

.instructions {
  color: black;
}
