@import "mixins.scss";

.display {
	padding-bottom: 2rem;
	width: 100%;
}

.title,
.action-wrap {
	display: inline-block;
	vertical-align: top;
}

.title-wrap {
	margin-bottom: $major_spacing / 2;
	position: relative;
}

.title {
	margin-top: 0;
	width: 80%;
}

.title:first-child:first-letter {
	float: left;
	font-size: 8rem;
	margin-right: 0.5rem;
}

.action-wrap {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
}

.action,
.action:active,
.action:focus {
	background: none;
	border: none;
	color: $accent_color;
	cursor: pointer;
	display: block;
	font-weight: 700;
	padding: 0;
	text-transform: uppercase;
}

.action + .action {
	margin-top: $minor_spacing / 4;
}

.action-disabled {
	@extend .action;
	cursor: inherit;
	opacity: 0.4;
}

.action:hover,
.action:focus,
.action:active {
	.icon {
		background-color: $accent_color;

		svg {
			fill: $white;
		}
	}
}

.action-disabled:hover,
.action-disabled:focus,
.action-disabled:active {
	.icon {
		background-color: $white;

		svg {
			fill: $accent_color;
		}
	}
}

.icon {
	border: 2px solid $accent_color;
	border-radius: 100%;
	display: inline-block;
	height: 18px;
	line-height: 1;
	margin-right: 8px;
	transition: all $transition;
	width: 18px;
	position: relative;

	svg {
		fill: $accent_color;
		transition: fill $transition;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}

$ingredients_width: 30%;

.ingredients,
.instructions {
	box-sizing: border-box;
	border-top: $thin_border;
	display: inline-block;
	margin-bottom: $minor_spacing;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

.ingredients {
	@media (min-width: $breakpoint_medium) {
		margin-right: $minor_spacing;
		width: $ingredients_width;
	}
}

.instructions {
	@media (min-width: $breakpoint_medium) {
		width: calc(100% - #{$ingredients_width} - #{$minor_spacing});
	}
}

.sub-header {
	font-size: 1rem;
	font-weight: 500;
	margin: $minor_spacing / 2 0;
	text-transform: uppercase;
}
